# Main API KEYAPI_KEY=# OpenAIOPENAI_API_KEY=# ANTHROPICANTHROPIC_API_KEY=# LANGFUSELANGFUSE_SECRET_KEY=LANGFUSE_PUBLIC_KEY=LANGFUSE_HOST=# S01E01S01E01_ENDPOINT=S01E01_USERNAME=S01E01_PASSWORD=# S01E02S01E02_ENDPOINT=# S01E03CENTRALA_URL=# S01E05# anthropic or ollamaPROVIDER=anthropic#PINECONEPINECONE_API_KEY=# LANGSMITHLANGCHAIN_API_KEY=LANGCHAIN_TRACING_V2=LANGCHAIN_PROJECT=AI_DEVS#NEO4JNEO4J_USER=NEO4J_PASSWORD=