# Main API KEYAPI_KEY=# OpenAIOPENAI_API_KEY=# ANTHROPICANTHROPIC_API_KEY=# LANGFUSES01E03_LANGFUSE_SECRET_KEY=S01E03_LANGFUSE_PUBLIC_KEY=S01E03_LANGFUSE_HOST=S01E05_LANGFUSE_SECRET_KEY=S01E05_LANGFUSE_PUBLIC_KEY=S01E05_LANGFUSE_HOST=# S01E01S01E01_ENDPOINT=S01E01_USERNAME=S01E01_PASSWORD=# S01E02S01E02_ENDPOINT=# S01E03CENTRALA_URL=# S01E05# anthropic or ollamaPROVIDER=anthropic